<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>CleverTapAccountID</key>
		<string>468-8W9-K96Z</string>
		<key>CleverTapToken</key>
		<string>c0b-b64</string>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>UNNotificationExtensionCategory</key>
			<array>
				<string>CTNotification</string>
				<string>CTSingleCarousel</string>
			</array>
			<key>UNNotificationExtensionInitialContentSizeRatio</key>
			<real>0.1</real>
			<key>UNNotificationExtensionDefaultContentHidden</key>
			<true/>
			<key>UNNotificationExtensionUserInteractionEnabled</key>
			<true/>
		</dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.usernotifications.content-extension</string>
	</dict>
</dict>
</plist>
